*{
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}
.text-primary{
    color: rgb(61, 47, 22);
}

.btn-primary{
    color: white;
    font-weight: 700;
    font-size: 20px;
    border: 0;
    padding: 18px 35px;
    height: 64px;
    border-radius: 5px;
    background-color: orange;

}

.header{
    background: white;
    background-image: url('../images/header_bg.png'), url('../images/developer.png');
    background-repeat: no-repeat;
    background-position: bottom right, left;
}
/* header and navigation styles*/
nav{
    display: flex;
    justify-content: space-between;
    margin: 50px 200px;
}
.nav-title{
    font-weight: 800;
    font-size: 45px;
}
nav ul{
    display: flex;
    align-items: center;
}
nav li{
    list-style: none;
    margin-left: 50px;
}
.banner{
    display: flex;
    align-items: center;
    margin: 0 200px;
}
.banner-title{
    font-weight: 700;
    font-size: 85px;

}
.banner-sub-title{
    font-weight: 600;
    font-size: 45px;
    margin-bottom: 20px;
}
.banner-description{
    color: blue;
    font-size: 18px;
    margin-bottom: 30px;
}
main{
    max-width: 1140px;
    margin: 0 auto;
}
section{
    margin-top: 230px;
}
.about{
    background: burlywood;
    border-radius: 10px;
    padding: 130px 150px;
    text-align: center;
}
.section-title{
    text-align: center;
    font-weight: 700;
    font-size: 35px;
    margin-bottom: 50px;

}
.section-description{
    text-align: center;
    color: brown;
    font-size: 18px;
    margin-bottom: 80px;

}
.about-info-container{
    display: flex;
    justify-content: space-around;
}
.about .info-title{
    font-size: 20px;
    color: aquamarine;
}
.info-description{
    font-weight: 700;
    font-size: 20px;
    color: bisque;
}
/* what i do styles */
.what-i-do{
    font-weight: 700;
    font-size: 20px;
    text-align: center;
    
}
.skills-container{
    margin-top: 130px;
    display: flex;
    gap: 54px;
}
.skill{
    background: white;
    box-shadow: 0px 6px 50px navajowhite;
    border-radius: 5px;
    padding: 30px;
}
.skill-title{
    font-weight: 500;
    font-size: 20px;
    margin-top: 30px;
    margin-bottom: 20px;
}
.skill-description{
    color: gray;
}

/* resume styles */
.resume-content{
    margin-top: 130px;
    display: flex;
    gap: 37px;
}
.resume-item{
    margin-top: 30px;
    margin-bottom: 30px;
}
.resume .title{
    font-weight: 500;
    font-size: 25px;
    color: darkolivegreen;

}
.resume .sub-title{
    color: mediumslateblue;
    font-weight: 400;
    font-size: 20px;
}
.resume .description{
    color: grey;
}
